
<form id="note_form">
  Title: <input type="text" name="title">
  <input type="submit" name= "Send">
</form>

<br>
<textarea rows="4" cols="50" name="message" form="note_form">
Enter text here...</textarea>

